meta(property="og:title", content="44 наставника для лучших перемен в твоей судьбе - 44a.ru")
meta(property="og:site_name", content="44а")
meta(property="og:url", content="https://44a.ru")
meta(property="og:description", content="Видео-сервис для консультаций, связывающий лучших экспертов и клиентов из разных регионов на единой площадке.")
meta(property="og:type", content="website")
meta(property="og:image", content="images/preview-showcase.jpg")
