meta(property="og:title", content="Видео-платформа онлайн консультаций - 22e.ru")
meta(property="og:site_name", content="22e")
meta(property="og:url", content="https://22e.ru")
meta(property="og:description", content="Видео-сервис для консультаций, связывающий лучших экспертов и клиентов из разных регионов на единой площадке.")
meta(property="og:type", content="website")
meta(property="og:image", content="images/preview-account.jpg")
