.module.browser-expire
	.module__content
		img(src="images/browser-expire-logo.jpg").browser-expire__logo
		img(src="images/browser-expire-icon.jpg").browser-expire__icon
		.browser-expire__content
			.browser-expire__title Ваш браузер устарел
			.browser-expire__text Пожалуйста обновите браузер — на текущей версии браузера <br> сайт может работать неправильно
		.browser-expire-list
			.browser-expire-list__item
				img(src="images/browsers/chrome.jpg", alt="скачать хром").browser-expire-list__icon
				a(href="#").browser-expire-list__link Chrome
			.browser-expire-list__item
				img(src="images/browsers/firefox.jpg", alt="скачать файрфокс").browser-expire-list__icon
				a(href="#").browser-expire-list__link Firefox
			.browser-expire-list__item
				img(src="images/browsers/opera.jpg", alt="скачать оперу").browser-expire-list__icon
				a(href="#").browser-expire-list__link Opera

