seo.seo 
	.seo__item
		p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. N

.module__content
	.module.module_regular.content
		.content__review.review(data-review="1", data-url="https://dev.44a.ru/expert/more-reviews")
			.review__header
				h2.review__title.content__header Отзывы
				a(href="#", data-trigger="review-create").review__link Оставить отзыв
			.review__items(data-items)
				.review__item(data-model)
					.review__meta
						.rating
							.rating__stars(data-rating)
								.rating__star
									svg
										use(xlink:href="images/rate.svg#empty")
								.rating__star
									svg
										use(xlink:href="images/rate.svg#empty")
								.rating__star
									svg
										use(xlink:href="images/rate.svg#empty")
								.rating__star
									svg
										use(xlink:href="images/rate.svg#empty")
								.rating__star
									svg
										use(xlink:href="images/rate.svg#empty")
						.review__author(data-name) Олег
						.review__date(data-date) 12.12.2020
					.review__content(data-text) Спасибо вам огромное! Мир вам! Да, это моя карта, я очень сильный и мудрый.
				.review__item
					.review__meta
						.rating
							.rating__stars(data-rating)
								.rating__star
									svg
										use(xlink:href="images/rate.svg#empty")
								.rating__star
									svg
										use(xlink:href="images/rate.svg#empty")
								.rating__star
									svg
										use(xlink:href="images/rate.svg#empty")
								.rating__star
									svg
										use(xlink:href="images/rate.svg#empty")
								.rating__star
									svg
										use(xlink:href="images/rate.svg#empty")
						.review__author Олег
						.review__date 12.12.2020
					.review__content Спасибо вам огромное! Мир вам! Да, это моя карта, я очень сильный и мудрый.
				.review__item
					.review__meta
						.rating
							.rating__stars(data-rating)
								.rating__star
									svg
										use(xlink:href="images/rate.svg#empty")
								.rating__star
									svg
										use(xlink:href="images/rate.svg#empty")
								.rating__star
									svg
										use(xlink:href="images/rate.svg#empty")
								.rating__star
									svg
										use(xlink:href="images/rate.svg#empty")
								.rating__star
									svg
										use(xlink:href="images/rate.svg#empty")
						.review__author Виктория
						.review__date 25.12.2020
					.review__content Умница, красавица, все точно описала, как всегда.
				.review__item
					.review__meta
						.rating
							.rating__stars(data-rating)
								.rating__star
									svg
										use(xlink:href="images/rate.svg#empty")
								.rating__star
									svg
										use(xlink:href="images/rate.svg#empty")
								.rating__star
									svg
										use(xlink:href="images/rate.svg#empty")
								.rating__star
									svg
										use(xlink:href="images/rate.svg#empty")
								.rating__star
									svg
										use(xlink:href="images/rate.svg#empty")
						.review__author Олег
						.review__date 12.12.2020
					.review__content Как и договаривались - пишу вам какая вы классная, чтобы, когда вы вставали по утрам, то читали и улыбались!! :-) Замечательная, добрая, светлая, с таким вкусным интеллигентным юмором - в кайф даже просто сидеть и слушать. Умница, выковыривает из ситуации самое главное, "читает между строк". По-моему лучший эксперт на сайте.
				.review__item
					.review__meta
						.rating
							.rating__stars(data-rating)
								.rating__star
									svg
										use(xlink:href="images/rate.svg#empty")
								.rating__star
									svg
										use(xlink:href="images/rate.svg#empty")
								.rating__star
									svg
										use(xlink:href="images/rate.svg#empty")
								.rating__star
									svg
										use(xlink:href="images/rate.svg#empty")
								.rating__star
									svg
										use(xlink:href="images/rate.svg#empty")
						.review__author Виктория
						.review__date 25.12.2020
					.review__content Восхитительная! Легкая, с чувством юмора, профессиональная очень, но не грузит, не нагнетает и не давит, очень позитивная. Нереально приятно было общаться, такая Светлана Лобода с колодой таро! Короче, понравилась очень, буду еще обращаться.
				.review__item
					.review__meta
						.rating
							.rating__stars(data-rating)
								.rating__star
									svg
										use(xlink:href="images/rate.svg#empty")
								.rating__star
									svg
										use(xlink:href="images/rate.svg#empty")
								.rating__star
									svg
										use(xlink:href="images/rate.svg#empty")
								.rating__star
									svg
										use(xlink:href="images/rate.svg#empty")
								.rating__star
									svg
										use(xlink:href="images/rate.svg#empty")
						.review__author Олег
						.review__date 12.12.2020
					.review__content Как и договаривались - пишу вам какая вы классная, чтобы, когда вы вставали по утрам, то читали... Хорошо всё объяснила толково, рекомендую. Легкая, с чувством юмора, профессиональная очень, но не грузит, не нагнетает и не давит, очень позитивная.
			.review__pagination.pagination(data-pagination="2")
				.pagination__item(data-control="start")
					include ../../public/images/pagination-arrow-extend.svg
				.pagination__item(data-control="prev")
					include ../../public/images/pagination-arrow.svg
				.pagination__pages(data-pages)
					.pagination__item.state-active(data-nav="1")
					.pagination__item(data-nav="2")
				.pagination__item.state-active(data-control="next")
					include ../../public/images/pagination-arrow.svg
				.pagination__item.state-active(data-control="end")
					include ../../public/images/pagination-arrow-extend.svg	
