.info__wrapper
	.profile__body.body
		a(href="profile.html").profile__link.link
			.link__icon
				include ../../public/images/profile-icon.svg
			.link__title Личная информация
		a(href="profile-notifications.html").profile__link.link
			.link__icon
				include ../../public/images/notification-icon.svg
			.link__title Уведомления
		a(href="profile-tariffs.html").profile__link.link
			.link__icon
				include ../../public/images/balance-add-icon.svg
			.link__title Пополнить счет
		a(href="profile-cards.html").profile__link.link
			.link__icon
				include ../../public/images/cards-icon.svg
			.link__title Привязанные карты
		a(href="profile-services.html").profile__link.link
			.link__icon
				include ../../public/images/watch-icon.svg
			.link__title Услуги
		a(href="profile-calendar.html").profile__link.link
			.link__icon
				include ../../public/images/calendar-icon.svg
			.link__title Мое расписание
			.link__counter(data-count="2")
