.new-card
	display: flex
	width: 100%
	&__main
		background-color: var(--color-profile-cards-secondary)
		padding: 24px
		border-radius: var(--border-radius)
		flex-basis: 400px
		position: relative
		z-index: 1
	&__number
		margin-bottom: 40px
	&__text
		margin-bottom: 8px
		flex-basis: 100%
	&__field
		&.field_select
			margin-bottom: -20px
	&__wrapper
		display: flex
	&__code
		margin-right: 16px
		.field
			width: 110px
			display: flex
			&__input
				width: 50px
		span
			margin: 0 8px
			align-self: center
			transform: translateY(-2px)
	&__holder
		width: 100%
		.field
			width: 100%
	&__icons
		display: flex
		justify-content: flex-end
	&__icon
		display: none
		&.state-active
			display: flex
	&__side
		flex-basis: 150px
		background-color: var(--color-profile-cards-primary)
		border-radius: var(--border-radius)
		transform: translateX(-2px)
		position: relative
		display: flex
		flex-direction: column
		justify-content: flex-end
		padding: 25px
		&::after
			content: ''
			position: absolute
			left: 0
			right: 0
			top: 20px
			height: 45px
			background-color: var(--color-black)
		.field
			width: 63px
			margin-bottom: 8px
		.new-card__text
			margin-bottom: unset
			flex-basis: auto
			font-size: 12px

// Mobile

@media screen and (max-width: 600px)
	.core-service-button
		margin-bottom: 5px
	.new-card
		flex-direction: column
		&__main, &__side
			flex-basis: auto
		&__main
			border-radius: var(--border-radius) var(--border-radius) 0 0
		&__number
		&__side
			transform: unset

			border-radius: 0 0 var(--border-radius) var(--border-radius)
			&::after
				content: unset
		&__wrapper
			flex-wrap: wrap
			.field
				flex-basis: 100%
			.new-card__code
				flex-basis: 100%
				margin-bottom: 16px
				margin-right: 0

.core-service-button
	font-family: 'Root UI'


.core-service-container
	margin-top: -1rem
	margin-bottom: 1rem
	.coin__prepend
		font-size: 11px

.content__wrapper_buttons
	.state-hidden
		display: none

.popup-pay
	.button_theme-brand
		min-width: 90px
	.field
		width: auto
	.checkbox__label
		color: var(--color-default)
		font-size: 12px
	.profile
		&__body
			padding-top: 0
	.new-card
		flex-direction: column
		&__main, &__side
			flex-basis: auto
		&__main
			margin-top: 10px
			padding-top: 5px
			padding-bottom: 5px
			border-radius: var(--border-radius) var(--border-radius) 0 0
		&__number, &__code
			margin-bottom: 8px
		&__side
			transform: unset

			border-radius: 0 0 var(--border-radius) var(--border-radius)
			&::after
				content: unset
		&__text
			color: var(--color-default)
			font-size: 12px
		&__wrapper
			flex-wrap: wrap
			.field
				flex-basis: 100%
				margin-right: unset
				flex-grow: 1
				width: auto
			.new-card__code
				flex-basis: 100%
				margin-bottom: 5px
				margin-right: 0
		&__side
			padding-top: 5px
			padding-bottom: 5px
			&__field
				flex-basis: 100%
				margin-right: unset
				flex-grow: 1
				width: auto



