.module.profile-tabs
	.module__content
		.profile-tabs__header
			a(href="./profile-partner.html").profile-tabs__item Профиль
			a(href="./profile-partner-payout.html").profile-tabs__item Выплаты
			a(href="./profile-partner-stats.html").profile-tabs__item Статистика
			a(href="./profile-partner-docs.html").profile-tabs__item ОПФ
			a(href="./profile-partner-ads.html").profile-tabs__item Рекламные материалы
