.module.module_page
	.module.breadcrumbs.content
		a(href="#").breadcrumbs__item.content__link.content__link_selected Английский язык
		.breadcrumbs__icon
			include ../../public/images/breadcrumbs-carret-icon.svg
		span.breadcrumbs__item Носители
	.module.module_regular.cards(data-route="cards", data-url="https://dev.44a.ru/expert/online-info")
		a(href="#", data-card, data-model, data-url="https://dev.44a.ru/site/expert-list").cards__item
			.cards__image
				img(src="images/card-image.png")
				.cards__label(data-status="online") Онлайн
				.cards__cost.cost
					.cost__title(data-cost) 49
					.info__cost
						span.info__cost_price 
						span.info__cost_coin
							include ../../public/images/coin-icon.svg
						span.info__cost_time /мин
					//-.cost__icon
						include ../../../dist/images/coin-icon.svg
				.cards__watch.watch
					.watch__title(data-visitors)
					.watch__icon
						include ../../../dist/images/watch-icon.svg
			.cards__title(data-username) Софья Геннадьевна 
			.cards__text(data-text) Поддержка игроков в линейку и советы Поддержка игроков в доту и советы
		.cards__items(data-list)
			a(href="#", data-card="1").cards__item.state-select
				.cards__image
					img(src="images/card-support.png")
					.cards__label(data-status="online") Онлайн
					.cards__cost.cost
						.cost__title Бесплатно
				.cards__title(data-username) Служба поддержки
				.cards__text(data-text) Ответы на вопросы и решение проблемных ситуаций
			a(href="#", data-card="11").cards__item
				.cards__image
					img(src="images/card-image.png")
					.cards__label(data-status="online") Онлайн
					.cards__cost.cost
						.cost__title(data-cost) 49
						.info__cost
						span.info__cost_price 
						span.info__cost_coin
							include ../../public/images/coin-icon.svg
						span.info__cost_time /мин 
					.cards__watch.watch
						.watch__title(data-visitors) 239
						.watch__icon
							include ../../../dist/images/watch-icon.svg
				.cards__title(data-username) Софья Геннадьевна
				.cards__text(data-text) Поддержка игроков в линейку и советы Поддержка игроков в доту и советы
			a(href="#", data-card="23").cards__item
				.cards__image
					img(src="images/card-image.png")
					.cards__label(data-status="private") В привате
					.cards__cost.cost
						.cost__title(data-cost) 49
						.info__cost
						span.info__cost_price 
						span.info__cost_coin
							include ../../public/images/coin-icon.svg
						span.info__cost_time /мин 
					.cards__watch.watch
						.watch__title(data-visitors) 239
						.watch__icon
							include ../../../dist/images/watch-icon.svg
				.cards__title(data-username) Софья Геннадьевна
				.cards__text(data-text) Поддержка игроков в линейку и советы Поддержка игроков в доту и советы
			a(href="#", data-card="33").cards__item
				.cards__image
					img(src="images/card-image.png")
					.cards__label(data-status="offline") Оффлайн
					.cards__cost.cost
						.cost__title(data-cost) 49
						.info__cost
						span.info__cost_price 
						span.info__cost_coin
							include ../../public/images/coin-icon.svg
						span.info__cost_time /мин
					.cards__watch.watch
						.watch__title(data-visitors) 239
						.watch__icon
							include ../../../dist/images/watch-icon.svg
				.cards__title(data-username) Софья Геннадьевна
				.cards__text(data-text) Поддержка игроков в линейку и советы Поддержка игроков в доту и советы
			a(href="#", data-card="50").cards__item
				.cards__image
					img(src="images/card-image.png")
					.cards__label(data-status="offline") Оффлайн
					.cards__cost.cost
						.cost__title(data-cost) 49
						.info__cost
						span.info__cost_price 
						span.info__cost_coin
							include ../../public/images/coin-icon.svg
						span.info__cost_time /мин 
						//-.cost__icon
							include ../../../dist/images/coin-icon.svg
					.cards__watch.watch
						.watch__title(data-visitors) 239
						.watch__icon
							include ../../../dist/images/watch-icon.svg
				.cards__title(data-username) Софья Геннадьевна
				.cards__text(data-text) Поддержка игроков в линейку и советы Поддержка игроков в доту и советы
			a(href="#", data-card="57").cards__item
				.cards__image
					img(src="images/card-image.png")
					.cards__label(data-status="offline") Оффлайн
					.cards__cost.cost
						.cost__title(data-cost) 49
						.info__cost
						span.info__cost_price 
						span.info__cost_coin
							include ../../public/images/coin-icon.svg
						span.info__cost_time /мин 
					.cards__watch.watch
						.watch__title(data-visitors) 239
						.watch__icon
							include ../../../dist/images/watch-icon.svg
				.cards__title(data-username) Софья Геннадьевна
				.cards__text(data-text) Поддержка игроков в линейку и советы Поддержка игроков в доту и советы
			a(href="#", data-card="58").cards__item
				.cards__image
					img(src="images/card-image.png")
					.cards__label(data-status="offline") Оффлайн
					.cards__cost.cost
						.cost__title(data-cost) 49
						.info__cost
						span.info__cost_price 
						span.info__cost_coin
							include ../../public/images/coin-icon.svg
						span.info__cost_time /мин 
					.cards__watch.watch
						.watch__title(data-visitors) 239
						.watch__icon
							include ../../../dist/images/watch-icon.svg
				.cards__title(data-username) Софья Геннадьевна
				.cards__text(data-text) Поддержка игроков в линейку и советы Поддержка игроков в доту и советы
			a(href="#", data-card="62").cards__item
				.cards__image
					img(src="images/card-image.png")
					.cards__label(data-status="offline") Оффлайн
					.cards__cost.cost
						.cost__title(data-cost) 49
						.info__cost
						span.info__cost_price 
						span.info__cost_coin
							include ../../public/images/coin-icon.svg
						span.info__cost_time /мин 
					.cards__watch.watch
						.watch__title(data-visitors) 239
						.watch__icon
							include ../../../dist/images/watch-icon.svg
				.cards__title(data-username) Софья Геннадьевна
				.cards__text(data-text) Поддержка игроков в линейку и советы Поддержка игроков в доту и советы
			a(href="#", data-card="65").cards__item
				.cards__image
					img(src="images/card-image.png")
					.cards__label(data-status="offline") Оффлайн
					.cards__cost.cost
						.cost__title(data-cost) 49
						.info__cost
						span.info__cost_price 
						span.info__cost_coin
							include ../../public/images/coin-icon.svg
						span.info__cost_time /мин 
					.cards__watch.watch
						.watch__title(data-visitors) 239
						.watch__icon
							include ../../../dist/images/watch-icon.svg
				.cards__title(data-username) Софья Геннадьевна
				.cards__text(data-text) Поддержка игроков в линейку и советы Поддержка игроков в доту и советы
			a(href="#", data-card="66").cards__item
				.cards__image
					img(src="images/card-image.png")
					.cards__label(data-status="offline") Оффлайн
					.cards__cost.cost
						.cost__title(data-cost) 49
						.info__cost
						span.info__cost_price 
						span.info__cost_coin
							include ../../public/images/coin-icon.svg
						span.info__cost_time /мин 
					.cards__watch.watch
						.watch__title(data-visitors) 239
						.watch__icon
							include ../../../dist/images/watch-icon.svg
				.cards__title(data-username) Софья Геннадьевна
				.cards__text(data-text) Поддержка игроков в линейку и советы Поддержка игроков в доту и советы
			a(href="#", data-card="68").cards__item
				.cards__image
					img(src="images/card-image.png")
					.cards__label(data-status="offline") Оффлайн
					.cards__cost.cost
						.cost__title(data-cost) 49
						.info__cost
						span.info__cost_price 
						span.info__cost_coin
							include ../../public/images/coin-icon.svg
						span.info__cost_time /мин 
					.cards__watch.watch
						.watch__title(data-visitors) 239
						.watch__icon
							include ../../../dist/images/watch-icon.svg
				.cards__title(data-username) Софья Геннадьевна
				.cards__text(data-text) Поддержка игроков в линейку и советы Поддержка игроков в доту и советы
			a(href="#", data-card="69").cards__item
				.cards__image
					img(src="images/card-image.png")
					.cards__label(data-status="offline") Оффлайн
					.cards__cost.cost
						.cost__title(data-cost) 49
						.info__cost
						span.info__cost_price 
						span.info__cost_coin
							include ../../public/images/coin-icon.svg
						span.info__cost_time /мин 
					.cards__watch.watch
						.watch__title(data-visitors) 239
						.watch__icon
							include ../../../dist/images/watch-icon.svg
				.cards__title(data-username) Софья Геннадьевна
				.cards__text(data-text) Поддержка игроков в линейку и советы Поддержка игроков в доту и советы
		a(href="#", data-load).cards__button.content__load.load Показать еще
			.load__items(data-loaded="true")
				.load__item
				.load__item
				.load__item
