<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		title 44 | Browser Expire
		link(rel="stylesheet", href="css/style.min.css")
		link(rel="shortcut icon", type="image/x-icon", href="favicon.ico")
		include ../includes/preview-showcase.pug
	body
		include ../pages/browser-expire/browser-expire.pug
