<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		link(rel="stylesheet", href="css/style.min.css")
		link(rel="shortcut icon", type="image/x-icon", href="favicon.ico")
		title 44 | Profile Services
		include ../includes/preview-showcase.pug
	body
		include ../components/header/header.pug
		include ../pages/profile/profile-services.pug
		include ../components/footer/footer.pug
		script(src="js/jquery.min.js")
		script(src="js/index.min.js")
