<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		link(rel="stylesheet", href="js/fancybox/jquery.fancybox.min.css")
		link(rel="stylesheet", href="js/datepicker/css/datepicker.min.css")
		link(rel="stylesheet", href="css/style.min.css")
		link(rel="shortcut icon", type="image/x-icon", href="favicon.ico")
		title 44 | Profile Expert (Stats)
		include ../includes/preview-account.pug
	body
		include ../components/header/header-expert.pug
		include ../pages/expert/profile/profile-stats.pug
		include ../components/footer/footer.pug
		script(src="js/jquery.min.js")
		script(src="js/fancybox/jquery.fancybox.min.js")
		script(src="js/datepicker/js/datepicker.min.js")
		script(src="js/index.min.js")
