.module.module_page(data-route="course")
	.module__content
		.module.module_regular.content
			.content__link.content__link_selected.content__link_backward
				include ../../../public/images/calendar/arrow.svg
				a(href="expert-course.html") Назад на страницу курса
		.module.module_regular.module_shrink.content
			h1.content__title Как негативные мысли влияют на нас
			p.content__text Дипломированный экстрасенс, Таролог, Прогрессор Космоэнергетики, Мастер свечной магии, Мастер Рейки Иггдрасиль, Маг. Имею посвящения в Зороастризм, нео-шаманизм. Оказываю профессиональную помощь в решении непростых жизненных ситуаций.
			p.content__text Дистанционно и по фото провожу сеансы диагностики и снятия негативных воздействий. Также диагностика энергетического и физического здоровья, внутренних блоков человека. Избавление от негативных и некротических привязок. Успешно помогаю в коррекции различных ситуаций, взаимоотношений. Открываю жизненные дороги. Восстанавливаю и активирую денежный поток. Дам подсказку, совет от Ангелов Света и Духов природы.
		.module.module_regular.module_shrink.content
			h2.content__header Дополнительные материалы
			.body__row.row.files
				.row__content
					.files__list.state-active
						.files__item.file
							.files__image
								.file__image.state-active
									.file__source
										img(src="images/card-image.png")
									a(href="#", download, data-action="remove").file__action
										button.button Скачать
							.files__content
								.files__title Heading
								.files__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi distinctio aspernatur voluptas dignissimos reiciendis animi dolor, illum ipsa cum voluptates, corrupti eligendi nobis facere nemo non esse molestiae numquam adipisci sed ea similique. Magnam quia quidem, quos soluta, quaerat nihil quibusdam voluptatem, adipisci assumenda, repellat quasi vitae ducimus. Veniam, ab!
		.module.module_regular.content
			a(href="#").content__button.button.button_large Купить курс полностью
		.module.module_regular.content
			.content__nav.nav
				.nav__control.nav__control_prev
					.nav__icon
						include ../../../public/images/carret-icon.svg
					.nav__wrapper
						a(href="#").nav__link.content__link.content__link_selected Предыдущий урок
				.nav__control.nav__control_next
					.nav__wrapper
						a(href="#").nav__link.content__link.content__link_selected Следующий урок
					.nav__icon
						include ../../../public/images/carret-icon.svg
