.popover.popover_shadow.popover_modal(data-popover)
	.popover__items
		.popover__close(data-close)
			include ../../../public/images/popover-close.svg
		.popover__item(data-target="remove-course")
			.popover__alert(data-alert)
			.popover__header
				| Удалить курс
				|
				span(data-title)
			.popover__action.action
				.action__button.button.button_large.button_theme-gray(data-trigger="remove-course:cancel") Отмена
				a(href="/users/delete-objects?material").action__button.button.button_large Удалить
		.popover__item(data-target="remove-lesson")
			.popover__alert(data-alert)
			.popover__header Удалить урок
			.popover__text.popover__text_small Вы уверены, что хотите удалить урок?
			.popover__action.action
				.action__button.button.button_large.button_theme-gray(data-trigger="remove-lesson:cancel") Нет
				.action__button.button.button_large(data-trigger="remove-lesson:submit") Удалить
		.popover__item(data-target="remove-lessons")
			.popover__alert(data-alert)
			.popover__header Удалить уроки
			.popover__text.popover__text_small Вы уверены, что хотите удалить выбранные уроки?
			.popover__action.action
				.action__button.button.button_large.button_theme-gray(data-trigger="remove-lessons:cancel") Нет
				.action__button.button.button_large(data-trigger="remove-lessons:submit") Удалить
		.popover__item(data-target="remove-file")
			.popover__alert(data-alert)
			.popover__header Удалить файл
			.popover__text.popover__text_small Вы уверены, что хотите удалить файл?
			.popover__action.action
				.action__button.button.button_large.button_theme-gray(data-trigger="remove-file:cancel") Нет
				.action__button.button.button_large(data-trigger="remove-file:submit") Удалить
		.popover__item(data-target="remove-files")
			.popover__alert(data-alert)
			.popover__header Удалить файлы
			.popover__text.popover__text_small Вы уверены, что хотите удалить выбранные файлы?
			.popover__action.action
				.action__button.button.button_large.button_theme-gray(data-trigger="remove-files:cancel") Нет
				.action__button.button.button_large(data-trigger="remove-files:submit") Удалить

.module.module_page(data-route="user:courses")
	include ./profile-tabs.pug
	.module.module_regular.profile
		.module__content
			.profile__data.data
				.profile__header.profile__header_merge
					| Платные материалы
					.profile-preview
						a(href="#").profile-preview__link
						.profile-preview__icon
							include ../../../public/images/watch-icon.svg
						.profile-preview__text Предпросмотр
				.profile__body.body
					.body__row.row
						.row__content
							a(href="#").button.button_large.button_accent Добавить курс
					.body__row.row
						.row__content
							.sort-table
								.sort-table__wrapper
									table.sort-table__container
										thead.sort-table__head
											tr.sort-table__row
												th.sort-table__cell
													span Название
												th.sort-table__cell
													span Описание
												th.sort-table__cell
													span Активна
												th.sort-table__cell
													span Подтверждена
												th.sort-table__cell
													span Управление
										tbody.sort-table__body
											tr.sort-table__row(data-course="1")
												td.sort-table__cell(data-course-title) Курс «Избавьтесь от стресса и улучшите самочувствие за 10 минут в день»
												td.sort-table__cell Курс содержит действенную методику, позволяющую расслабиться и почувствовать связь с окружающим миром.
												td.sort-table__cell
													.sort-table__icon
														include ../../../public/images/warning-icon.svg
												td.sort-table__cell
													.sort-table__icon
														include ../../../public/images/table-error-icon.svg
												td.sort-table__cell
													a(href="#").sort-table__icon
														include ../../../public/images/table-edit-icon.svg
													a(href="#", data-target="remove-course").sort-table__icon
														include ../../../public/images/table-remove-icon.svg
											tr.sort-table__row(data-course="2")
												td.sort-table__cell(data-course-title) Курс «Избавьтесь от стресса и улучшите самочувствие за 10 минут в день»
												td.sort-table__cell Курс содержит действенную методику, позволяющую расслабиться и почувствовать связь с окружающим миром.
												td.sort-table__cell
													.sort-table__icon
														include ../../../public/images/table-ok-icon.svg
												td.sort-table__cell
													.sort-table__icon
														include ../../../public/images/table-error-icon.svg
												td.sort-table__cell
													a(href="#").sort-table__icon
														include ../../../public/images/table-edit-icon.svg
													a(href="#", data-target="remove-course").sort-table__icon
														include ../../../public/images/table-remove-icon.svg
	.module.module_regular.profile
		.module__content
			form(action="#", method="post").profile__data.data
				.profile__header.profile__header_merge Добавить курс
				.profile__body.body
					.body__row.row
						.row__label Название курса
						.row__content
							.row__error(data-error)
							.field.field_wide
								input(type="text", name="title", placeholder="Напишите название курса").field__input
					.body__row.row
						.row__label Краткое описание
						.row__content
							.row__error(data-error)
							.field.field_wide
								textarea(name="short-description", placeholder="Не более 512 символов").field__textarea
					.body__row.row
						.row__label Полное описание
						.row__content
							.row__error(data-error)
							.field.field_wide
								textarea(name="short-description", placeholder="Опишите курс подробнее").field__textarea.field__textarea_full
					.body__row.row
						.row__label Стоимость
						.row__content
							.row__error(data-error)
							.field.field_wide
								input(type="text", name="cost", placeholder="Стоимость курса").field__input
					.body__row.row.file
						input(type="hidden", name="test")
						.row__label Фотография для обложки
						.row__content
							.row__error.row__error_line(data-error)
								span Ошибка при загрузке
								a(href="#", data-action="change") Повторить
								a(href="#", data-action="remove") Удалить
							.file__field.state-active
								.content__wrapper.content__wrapper_file
									.field.field_wide
										input(type="file", name="cover", data-type="5" data-url="https://dev.22e.ru/users/upload-image", accept=".jpg, .jpeg, .png")
										input(type="text", placeholder="Файл не выбран", readonly, data-action="upload").field__input
									.button.button_large(data-action="upload") Выберите файл
							.file__image
								.file__cover
								.file__source
									img(src="")
								.file__action(data-action="change")
									include ../../../public/images/avatar-change-icon.svg
								.file__action(data-action="remove")
									include ../../../public/images/avatar-remove-icon.svg
					.body__row.row
						.row__label Область знаний
						.row__content
							.field.field_wide.field_select.select.state-selected(data-select-choice)
								.field__input(data-select-output="0") 1 Эзотерика - Астрология - Прогноз на год (соляр \ транзиты)
									input(type="hidden", name="type",data-select-output)
								.field__icon
									include ../../../public/images/carret-icon.svg
								.select__items
									.select__item(data-option="0") 1 Эзотерика - Астрология - Прогноз на год (соляр \ транзиты)
									.select__item(data-option="1") 2 Эзотерика - Астрология - Прогноз на год (соляр \ транзиты)
									.select__item(data-option="2") 3 Эзотерика - Астрология - Прогноз на год (соляр \ транзиты)
									.select__item(data-option="3") 4 Эзотерика - Астрология - Прогноз на год (соляр \ транзиты)
					.body__row.row
						.row__label Курс виден клиентам
						.row__content
							.row__error(data-error)
							.field.field_switch.switch
								label.switch__label
									input(type="checkbox", name="is-show", id="checkbox").switch__input
									.switch__field
					.body__row.row.manage
						.row__label Уроки
						.row__content
							.manage__actions.state-active
								.manage__checkbox.field.field_checkbox.checkbox(data-select-all)
									label.checkbox__label
										input(type="checkbox").checkbox__input
										.checkbox__field
										| Выбрать все
								a(href="#", data-remove, data-url="https://dev.22e.ru/users/delete-objects?type=material").manage__remove Удалить выбранное
							.manage__list.state-active
								.manage__item.lesson(id="141")
									.manage__controls
										.manage__select.field.field_checkbox.checkbox(data-select)
											label.checkbox__label
												input(type="checkbox").checkbox__input
												.checkbox__field
										.manage__orders
											.manage__order(data-order="up", data-url="https://dev.22e.ru/users/change-positions?type=material")
												include ../../../public/images/order-up-icon.svg
											.manage__order.state-active(data-order="down", data-url="https://dev.22e.ru/users/change-positions?type=material")
												include ../../../public/images/order-down-icon.svg
									.manage__content.lesson__content
										.lesson__title Курс содержит действенную методику, позволяющую расслабиться и почувствовать связь с окружающим миром.
										.lesson__status Урок на модерации
										a(href="#")
											.file__action(data-action="change")
												include ../../../public/images/avatar-change-icon.svg
										.file__action(data-action="remove", data-url="https://dev.22e.ru/users/delete-objects?type=material&id=")
											include ../../../public/images/avatar-remove-icon.svg
								.manage__item.lesson(id="140")
									.manage__controls
										.manage__select.field.field_checkbox.checkbox(data-select)
											label.checkbox__label
												input(type="checkbox").checkbox__input
												.checkbox__field
										.manage__orders
											.manage__order.state-active(data-order="up", data-url="https://dev.22e.ru/users/change-positions?type=material")
												include ../../../public/images/order-up-icon.svg
											.manage__order(data-order="down", data-url="https://dev.22e.ru/users/change-positions?type=material")
												include ../../../public/images/order-down-icon.svg
									.manage__content.lesson__content
										.lesson__title Курс содержит действенную методику, позволяющую расслабиться и почувствовать связь с окружающим миром.
										.lesson__status Урок на модерации
										a(href="#")
											.file__action(data-action="change")
												include ../../../public/images/avatar-change-icon.svg
										.file__action(data-action="remove", data-url="https://dev.22e.ru/users/delete-objects?type=material&id=")
											include ../../../public/images/avatar-remove-icon.svg
							a(href="#").manage__button.button.button_large Добавить урок
					.body__row.body__row_footer
						.body__row.row
							.row__content
								.content__wrapper.content__wrapper_buttons
									input(type="submit", value="Отправить на модерацию", disabled).button.button_large.button_theme-gray
									input(type="submit", value="Сохранить").button.button_large
	.module.module_regular.profile
		.module__content
			form(action="#", method="post").profile__data.data
				.profile__header.profile__header_merge Добавить урок
				.profile__body.body
					.body__row.row
						.row__label Название урока
						.row__content
							.row__error(data-error)
							.field.field_wide
								input(type="text", name="title", placeholder="Напишите название курса").field__input
					.body__row.row
						.row__label Краткое описание
						.row__content
							.row__error(data-error)
							.field.field_wide
								textarea(name="short-description", placeholder="Не более 512 символов").field__textarea
					.body__row.row
						.row__label Полное описание
						.row__content
							.row__error(data-error)
							.field.field_wide
								textarea(name="short-description", placeholder="Опишите курс подробнее").field__textarea.field__textarea_full
					.body__row.row
						.row__label Стоимость
						.row__content
							.row__error(data-error)
							.field.field_wide
								input(type="text", name="cost", placeholder="Стоимость курса").field__input
					.body__row.row.file
						input(type="hidden", name="test")
						.row__label Фотография для обложки
						.row__content
							.row__error.row__error_line(data-error)
								span Ошибка при загрузке
								a(href="#", data-action="change") Повторить
								a(href="#", data-action="remove") Удалить
							.file__field.state-active
								.content__wrapper.content__wrapper_file
									.field.field_wide
										input(type="file", name="cover", data-type="5" data-url="https://dev.22e.ru/users/upload-image", accept=".jpg, .jpeg, .png")
										input(type="text", placeholder="Файл не выбран", readonly, data-action="upload").field__input
									.button.button_large(data-action="upload") Выберите файл
							.file__image
								.file__cover
								.file__source
									img(src="")
								.file__action(data-action="change")
									include ../../../public/images/avatar-change-icon.svg
								.file__action(data-action="remove")
									include ../../../public/images/avatar-remove-icon.svg
					.body__row.row
						.row__label Купить отдельно
						.row__content
							.row__error(data-error)
							.field.field_switch.switch
								label.switch__label
									input(type="checkbox", name="is-single-buy", id="checkbox").switch__input
									.switch__field
					.body__row.row
						.row__label Урок виден клиентам
						.row__content
							.row__error(data-error)
							.field.field_switch.switch
								label.switch__label
									input(type="checkbox", name="is-show", id="checkbox").switch__input
									.switch__field
					.body__row.row.files
						.row__label Дополнительные материалы
						.row__content
							.files__actions
								.files__checkbox.field.field_checkbox.checkbox(data-select-all)
									label.checkbox__label
										input(type="checkbox").checkbox__input
										.checkbox__field
										| Выбрать все
								a(href="#", data-remove, data-url="https://dev.22e.ru/users/delete-objects?type=file").files__remove Удалить выбранное
							.files__list
								.files__item.file(data-model)
									.row__error.row__error_line(data-error)
										span Ошибка при загрузке
										a(href="#", data-action="change") Повторить
										a(href="#", data-action="remove", data-url="https://dev.22e.ru/users/delete-objects?type=file&id=") Удалить
									.files__controls
										.files__select.field.field_checkbox.checkbox(data-select)
											label.checkbox__label
												input(type="checkbox").checkbox__input
												.checkbox__field
										.files__orders
											.files__order(data-order="up", data-url="https://dev.22e.ru/users/change-positions?type=file")
												include ../../../public/images/order-up-icon.svg
											.files__order(data-order="down", data-url="https://dev.22e.ru/users/change-positions?type=file")
												include ../../../public/images/order-down-icon.svg
									.files__image
										.file__field
											input(type="file", data-type="1", data-url="https://dev.22e.ru/users/upload-file", accept=".png, .jpeg, .jpg, .gif")
											input(type="hidden", name="image-state-$name" value="model")
										.file__image.state-active
											.file__cover
												img(data-src="$src")
											.file__source
												img(data-src="$src")
											.file__action(data-action="change")
												include ../../../public/images/avatar-change-icon.svg
											.file__action(data-action="remove", data-url="https://dev.22e.ru/users/delete-objects?type=file&id=")
												include ../../../public/images/avatar-remove-icon.svg
							.files__button.button.button_large(data-add) Добавить файлы
							input(type="file", data-type="1", data-upload, multiple, data-url="https://dev.22e.ru/users/upload-file", accept=".png, .jpeg, .jpg, .pdf, .doc, .docx, .mp3, .mov, .avi").files__upload
					.body__row.body__row_footer
						.body__row.row
							.row__content
								.content__wrapper.content__wrapper_buttons
									input(type="submit", value="Отправить на модерацию", disabled).button.button_large.button_theme-gray
									input(type="submit", value="Сохранить").button.button_large
