.module.profile-tabs
	.module__content
		.profile-tabs__header
			a(href="./profile-expert.html").profile-tabs__item Рабочее место
			a(href="./profile-expert-settings.html").profile-tabs__item Профиль
			a(href="./profile-expert-subjects.html").profile-tabs__item Области знаний
			a(href="./profile-expert-courses.html").profile-tabs__item Платные материалы
			a(href="./profile-expert-services.html").profile-tabs__item Платные услуги
			a(href="./profile-expert-payout.html").profile-tabs__item Выплаты
			a(href="./profile-expert-stats.html").profile-tabs__item Статистика
			a(href="./profile-expert-docs.html").profile-tabs__item ОПФ
			a(href="./profile-expert-calendar.html").profile-tabs__item Расписание
			a(href="./profile-expert-history.html").profile-tabs__item История
			a(href="./profile-expert-ads.html").profile-tabs__item Партнерская ссылка
