footer.footer
	.footer__menu
		a(href="#").footer__link О платформе
		a(href="#").footer__link Частые вопросы
		a(href="#").footer__link Служба поддержки
		a(href="#").footer__link Стать экспертом
		a(href="#").footer__link Партнерская программа
	.footer__meta
		a(href="#").footer__link Пользовательское соглашение
		a(href="#").footer__link Политика конфиденциальности
	.footer__info ООО «44а», ОГРН 1165476454120, ИНН 5404438751, 630096, РФ, Московская обл., г. Московск, ул. Строителей, 34
