.module.module_page.not-found
	.module__content.content
		h1.content__title Страница не найдена
		p.content__text
			| The above error occurred while the Web server was processing your request.
			br
			| Please contact us if you think this is a server error. Thank you.
